<div class="celebrities-container">
  <h2>Celebrities</h2>
  <ul class="celebrities-list-container">
    {{#each celebrities}}
    <li>
      <p>{{this.name}}</p>
    </li>
    {{/each}}
  </ul>
</div>