<div class="celebrities-container">
  <h2>Celebrities</h2>
  <ul class="celebrities-list-container">
    {{#each celebrities}}
    <li>
      <p><a href="/celebrities/{{this.id}}">{{this.name}}</a></p>
    </li>
    {{/each}}
  </ul>
</div>